/*
	-- begin reset
*/

/*html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}

/*
	-- end reset
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end meyer reset */



body {
  font-family: 'Merienda', cursive;
  width: 100%;
  height: 100%;
  background: repeat url("../images/parchment.jpg");
}

.loading {
	position: absolute;
	opacity: 0.8;
	margin: -24px 0 0 -24px;
	left: 50%;
	top: 50%;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
}

header, article {
	color: #000;
}

header {
	margin-top: 3em;
}

header h1 {
	font-size: 3em;
	line-height: 3em;
	display: none;
}

#output dd{
	font-size: 3em;
	line-height: 1.5em;
  display: block;
  margin: 2em 0;
}

#output dt{
  font-size: 2.25em;
  line-height: 1.5em;
}



#output.animate {
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
	-transition: opacity 0.5s ease-out;
}

noscript {
	font-weight: 800;
	font-size: 2.5em;
	line-height: 2.5em;
	margin: 3em 0;
}


#generate {
	text-decoration: none;
	font-size: .75em;
	color: #000;
}

#generate:hover {
	text-decoration: underline;
	color: black;
}

aside {
	position: absolute;
	margin: 12px 8px;
	right: 0;
	top: 0;
}

#share li {
	list-style: none;
	display: inline;
}

#share-facebook {}
#share-twitter {position: relative; top: -1px;}
.twitter-share-button {
	font-size: .75em;
	color: #000;
}

footer {
	text-transform: none;
	position: absolute;
	text-align: right;
	line-height: 1em;
	font-size: .75em;
	color: #666;
	margin: .75em 1.5em;
	bottom: 0;
	right: 0;
}

footer a {
	text-decoration: none;
	color: #000;
}

footer a:hover {
	text-decoration: underline;
}


@media only screen and (max-width: 480px) {
  #wrapper {
    width: 95%;
    margin: 0 auto;
  }
  header, article {
    color:red;
  }
  #output {
    font-size: 200%;
  }
  #generate {
    padding-bottom: 5em;
  }
  #output dd{
    margin: 0.5em 0;
  }
  footer{
    top: 0;
    font-size: 1em;
  }
}
